:root {
  --clr-diaplay: #313131;
  --clr-numbers: #454545;
  --clr-numbers-hover: #4e4e4e;
  --clr-background: #3e3e3e;
  --clr-equal: #0c6d1a;

  --ff-primary: "Barlow Semi Condensed", sans-serif;

  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  background-color: rgb(14, 14, 14);
  min-height: 100vh;
  /* text-rendering: optimizeSpeed; */
  /* line-height: 1.5; */
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
}

.display {
  display: flex;
  font-size: 1.5rem;
  color: rgb(223, 223, 223);
  padding: 10px;
  overflow-wrap: anywhere;
  direction: rtl;
  /* word-break: break-all; */
  justify-content: right;
  align-items: flex-end;
  border: 5px solid var(--clr-background);
  background-color: var(--clr-diaplay);
  height: 20vh;
}

.buttons {
  background-color: var(--clr-background);
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 5px;
}

.number {
  color: rgb(223, 223, 223);
  background-color: var(--clr-numbers);
  font-size: var(--fs-500);
  border-radius: 3px;
  border: 1px solid black;
}

.button:hover {
  background-color: var(--clr-numbers-hover);
}

.button:active {
  background-color: #313131;
}
